<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': post.loveIts > 0,
                'list-group-item-danger': post.loveIts < 0}">
    <div class="col-sm-8 align-items-start">{{post.titre}}</div>
    <div class="col-sm-4 align-items-end">{{post.created_at | date: 'short'}}</div>
  <p>{{post.contenu}}</p>
  
  <button class="btn btn-success"
              (click)="loveItsFunction()">Love it!</button>
  <button class="btn btn-danger "
              (click)="dontLoveItsFunction()">Don't love it!</button>
  <button class="btn btn-danger align-items-end" 
              (click)="onDeletePost(post)">Supprimer le post</button>
</li>