<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h2>Posts</h2>
      <ul class="list-group">
        <app-post-list-component>
        </app-post-list-component>
      </ul>
    </div>
  </div>
</div> -->