<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <h2>Soumettre un nouveau post</h2>
    <form [formGroup]="postForm" (ngSubmit)="onSavePost()">
      <div class="form-group">
        <label for="titre">Titre</label>
        <input type="text" id="titre"
               class="form-control" formControlName="titre">
      </div>
      <div class="form-group">
        <label for="contenu">Contenu</label>
        <textarea id="contenu"
                  class="form-control" formControlName="contenu">
        </textarea>
      </div>
      <button class="btn btn-success" 
              [disabled]="postForm.invalid || fileIsUploading"
          type="submit">Enregistrer
      </button>

    </form>
  </div>
</div>